.footer {
  height: 10em;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
}

.footer p {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.185rem;
  display: block;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  position: relative;
  top: em;
}

.footer-span {
  /* font-size: 1rem; */
  /* color: #fff; */
  /* position: relative; */
  display: flex;
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  letter-spacing: 0.1rem;
  margin-left: 2em;
  /* padding: 1rem; */
  bottom: 0%;
}

.footer-span p {
  left: 0.3rem;
  top: -0.7em;
}

.margin-correction{
    margin-left: 5vw;
    margin-right: 5vw;
}

.footer-span img{
  transform: translateY(-25%);
}